@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: hsl(49, 100%, 7%);
    --color-secondary: hsl(200, 100%, 50%);
    --spacing-4: 1rem;
    --font-poppins: "Poppins", sans-serif;
    --font-roboto: "Lato", sans-serif;
}

@layer base {
    h1 {
        font: var(--text-3xl) / 1.5 "Poppins", sans-serif;
        color: var(--color-gray-900);
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        font-size: 2.25rem;
        line-height: 2.5rem;
        letter-spacing: -0.025em;
        text-wrap: balance;
        color: #FFF;
      }
      
      @media (max-width: 1023px) {
        h1 {
          font-weight: 500;
        }
      }
      
      @media (max-width: 639px) {
        h1 {
          padding-left: 1rem;
          padding-right: 1rem;
        }
      }
      
      @media (min-width: 640px) {
        h1 {
          font-size: 2.5rem;
          line-height: 1;
        }
      }
      
      @media (min-width: 1024px) {
        h1 {
          font-size: 3.75rem;
          line-height: 1;
        }
      }
      
      @media (min-width: 1280px) {
        h1 {
          font-size: 6rem;
          line-height: 1;
        }
      }

    h2 {
        font: var(--text-2xl, --tracking-tighter --text-balance) / 1.5 "Poppins", sans-serif;
        font-weight: 500;
        color: var(--color-gray-900);
    }

    h3 {
        font: var(--text-xl, --tracking-tighter --text-balance) / 1.5 "Poppins", sans-serif;
        font-weight: 500;
        color: var(--color-gray-900);
    }

    p {
        font: var(--text-base) / 1.5 "Lato", sans-serif;
        color: var(--color-gray-900);
    }
}

@keyframes orbit {
  0% {
      transform: rotate(0deg) translateX(40px) rotate(0deg);
      opacity: 0.7;
  }
  50% {
      opacity: 0.3;
  }
  100% {
      transform: rotate(360deg) translateX(40px) rotate(-360deg);
      opacity: 0.7;
  }
}
@keyframes orbit-reverse {
  0% {
      transform: rotate(0deg) translateX(60px) rotate(0deg);
      opacity: 0.5;
  }
  50% {
      opacity: 0.2;
  }
  100% {
      transform: rotate(-360deg) translateX(60px) rotate(360deg);
      opacity: 0.5;
  }
}
.orbit {
  animation: orbit 6s linear infinite;
}
.orbit-reverse {
  animation: orbit-reverse 8s linear infinite;
}

.embla {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
  }
  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
  }
  